# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore OS-specific files (MacOS)
.DS_Store
